<h1 mat-dialog-title>Asistencia </h1>
<hr>
<div mat-dialog-content>
<form #form="ngForm" autocomplete="off" (ngSubmit)="onSubmit(form)">

    <input type="hidden" name="id" #calificacionId="ngModel" [(ngModel)]="formData.id">
    <input type="hidden" name="asistenciaid" #asistencia="ngModel" [(ngModel)]="formData.asistenciaid">
    <input type="hidden" name="estudiantenombre" #estudiantenombre="ngModel" [(ngModel)]="formData.estudiantenombre">

    <div class="form-group">
        <label>Estudiantes</label>
        <select name="estudianteid" #estudianteid="ngModel" [(ngModel)]="formData.estudianteid" class="form-control" (change)="updateEstudiante($event.target)">
            <option value="0">-Selecciona-</option>
            <option  *ngFor="let item of estudianteList"  [ngValue]="item.id">{{item.nombre}}</option>
         </select>
         </div>
         <div class="form-group">
            <div class="custom-control-lg custom-control custom-checkbox">
                <input name="presencia" #presencia="ngModel" [(ngModel)]="formData.presencia"   class="custom-control-input" id="checkbox-large" type="checkbox">
                <label  class="custom-control-label" for="checkbox-large" >Presencia</label>
            </div>

         </div>
     
    
    <div mat-dialog-actions>
        <button  type="submit"  class="btn btn-dark"><i class="fa fa-database"></i> Agregar</button>
        <button type="button" class="btn btn-outline-dark ml-1"  [mat-dialog-close]><i class="fa fa-close"></i>Cerrar</button>
  </div>
  

</form>

</div>