
  <div class="container mt-3">
   
        <input class="form-control" (keyup)="applyFilter($event)" placeholder="Buscar" #input autocomplete="off" type="text"> 
  </div>
<br>
<br>

<table class="table table-hover">
    <thead class="thead-light">
        <th>Nombre</th>
        <th>Edad</th>
        <th>Genero</th>

        <th>
            <a class="btn btn-outline-success" routerLink="/add-edit-estudiante" style="margin:5px;"><i class="fa fa-plus-square"></i>Crear Estudiante</a>
            <a class="btn btn-outline-info" routerLink="/home" style="margin:5px;"><i class="fa fa-reply"></i> Home</a>
        </th>

    </thead>
    <tbody>
        <tr *ngFor="let item of estudiantelist">
            <th (click)="openForEdit(item.id)">{{item.nombre}}</th>
            <td (click)="openForEdit(item.id)">{{item.edad}}</td>
            <td  (click)="openForEdit(item.id)">{{item.genero}}</td>
            <td>
                <a class="btn text-danger" (click)="DeleteEstudiante(item.id)"><i class="fa fa-trash fa-lg"></i></a>
            </td>  

        </tr>
    </tbody>

</table>
